.mb30 {
  margin-bottom: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.weight-table .warn {
  background-color: #ffa3a0;
}
.weight-table .good {
  background-color: #91e6ff;
}
.w50 {
  width: 70px !important;
}
.w90 {
  width: 110px !important;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
.navbar-dark a {
  color: #fff;
  margin-right: 20px;
}
.navbar-dark a:hover {
  color: #fff;
}
.navbar-dark a.active {
  color: #000;
  text-decoration: none;
}
.dp-label {
  float: left;
  margin: 5px 10px 0 0;
}
.navbar-nav {
  padding-bottom: 10px;
}
label.mr10 {
  margin-right: 10px;
  display: inline-block;
}
